@import "flowbite";

#root {
  margin: 0 auto;
  padding: 0 auto !important;
  box-sizing: border-box;
}

.custom-input {
  border: none !important;
  outline: none !important;
}

.custom-input:focus {
  border: none !important;
  outline: none !important;
  box-shadow: 0 0 0 2px #3b82f6; /* Change to your desired color */
}
